<div class="mb-4">
    <h2 class="text-success">
        Регистрация
    </h2>
    <div>Уже есть аккаунт?
        <a routerLink="/singin" class="text-decoration-none fw-medium text-success d inline-block">Войти</a>
    </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="ФИО" formControlName="fullName">
        <div class="error-feedback" *ngIf="hasDisplayableError('fullName') && form.get('fullName')?.hasError('required')">
            Заполните это поле
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
        <div class="error-feedback" *ngIf="hasDisplayableError('email')">
            <div *ngIf="form.get('email')?.hasError('required')">
                Заполните это поле
            </div>
            <div *ngIf="form.get('email')?.hasError('email')">
                Введите корректный email
            </div>
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Телефон" formControlName="phone">
        <div class="error-feedback" *ngIf="hasDisplayableError('phone') && form.get('phone')?.hasError('required')">
            Заполните это поле
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Пароль" formControlName="password">
        <div class="error-feedback" *ngIf="hasDisplayableError('password')">
            <ng-container [ngSwitch]="form.get('password')?.errors | firstKey">
                <div *ngSwitchCase="'required'">
                    Заполните это поле
                </div>
                <div *ngSwitchCase="'minlength'">
                    Требутся минимум 6 символов
                </div>
                <div *ngSwitchCase="'pattern'">
                    Один или несколько специальных символов
                </div>
            </ng-container>
        </div>
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Подтвердите пароль" formControlName="confirmPassword">
        <div class="error-feedback" *ngIf="hasDisplayableError('confirmPassword') && form.get('confirmPassword')?.hasError('passwordMismatch')">
            Пароли не совпадают
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-success w-100 rounded-3">Регистрация</button>
    </div>
</form>
