<div class="mb-4">
  <h2 class="text-success">Вход в аккаунт</h2>
  <div>Нет аккаунта?
    <a routerLink="/signup" class="text-decoration-none fw-medium text-success d-inlin-block">Регистрация</a>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
    <div class="error-feedback" *ngIf="hasDisplayableError('email') && form.get('email')?.hasError('required')">Введите адрес электронной почты.</div>
  </div>
  <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Пароль" formControlName="password">
    <div class="error-feedback" *ngIf="hasDisplayableError('password') && form.get('password')?.hasError('required')">Введите пароль.</div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">Вход</button>
  </div>
</form>